<nav class="navbar navbar-expand-md navbar-transparent fixed-top" >

    <a class="navbar-brand"  href="#">Travelagency</a>

    <button class="navbar-toggler"  type="button" data-toggle="collapse"  data-target="#navbarsExampleDefault" aria-controls= "navbarsExampleDefault" aria-expanded="false" aria-label ="Toggle navigation">

      <span class="navbar-toggler-icon" ></span>

    </button>

    <div class="collapse navbar-collapse"  id="navbarsExampleDefault">

      <ul class="navbar-nav mr-auto" >

        <li class="nav-item active" >

          <a class="nav-link"  routerLink="/">Home <span   class="sr-only">(current)</span></a>

        </li>

        <li class="nav-item" >

          <a class="nav-link"  routerLink="/blog">Blog</a >

        </li>

        <li class="nav-item" >

          <a class="nav-link"  routerLink="/travels">Travels</a>

        </li>

      </ul>
      <button class="btn btn-success my-2 my-sm-0" type="submit" routerLink="/cart">Cart</button>
    </div>

  </nav>